{% extends 'photos/base.html' %}

{% block content %}
<title>Álbum web</title>
    <div class="container mb-5">
        <div class="row my-3">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        Categorías
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Todo</li>
                        {% for categoria in categorias %}
                        <li class="list-group-item">{{categoria.name}}</li>
                        {% endfor %}
                        <li class="list-group-item">
                            <a href="{% url 'add' %}" class="btn btn-dark btn-sm m-1 mx-auto d-block ">Agegar foto</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for foto in fotos %}
                    <div class="col-md-4">
                        <div class="card my-2 ">
                            <img class="image-thumbail mx-auto d-block" src="{{foto.image.url}}" alt="Card image cap">
                            <div class="card-body">
                                <small>
                                    Categoría: {{foto.category.name}}
                                </small>
                            </div>
                            <a href="{% url 'photo' foto.id %}"
                                class="text-dark btn btn-outline-warning btn-sm m-1 rounded-pill border border-dark ">Ver</a>
                        </div>
                    </div>
                    {% empty %}
                    <div class="row vh-100 align-items-center m-1 justify-content-center">
                        <div class="col-md-4">
                            <h3>No hay fotos</h3>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
