{% extends 'photos/base.html' %}

{% block content %}
<title>Álbum web</title>
    <div class="container mb-5">
        <div class="row my-3">
            <div class="col-md-3">
                <div class="alert alert-warning text-center" role="alert">
                    Si desea filtrar, presione una categoría.
                  </div>
                <div class="card">
                    <div class="card-header">
                        Categorías
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a class="text-dark" href="{% url 'gallery' %}">Todo</a> 
                        </li>
                        {% for categoria in categorias %}
                        <li class="list-group-item">
                            <!-- le mando por url la categoria -->
                            <a class="text-dark" href="{% url 'gallery' %}?category={{categoria.name}}"> {{categoria.name}} </a>
                        </li>
                        {% endfor %}
                        <li class="list-group-item">
                            <a href="{% url 'add' %}" class="btn btn-dark btn-sm m-1 mx-auto d-block ">Agregar foto</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 ">
                <div class="row">
                    {% for foto in fotos %}
                    <div class="col-md-4">
                        <div class="card my-2 ">
                            <img class="image-thumbail mx-auto d-block" src="{{foto.link}}" alt="Card image cap">
                            <div class="card-body">
                                <small>
                                    Categoría: {{foto.category.name}} 
                                    <br>
                                    <div class="card-footer">
                                        {{foto.created_at}}
                                    </div>
                                </small>
                            </div>
                            <a href="{% url 'photo' foto.id %}"
                                class="text-dark btn btn-outline-warning btn-sm m-1 rounded-pill border border-dark ">Ver</a>
                        </div>
                    </div>
                    {% empty %}
                    <div class="row vh-100 align-items-center m-1 justify-content-center">
                        <div class="col-md-4">
                            <h3>No hay fotos</h3>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block footer %}
    <div class="row align-items-end" style="height: 50vmax;">
        <div class="col">
            <footer class="row bg-dark justify-content-center">
                <div class="col-md-3">
                     <!-- por ci me sale espacio en blanco en el footer poner mb-0 en P y en Body -->
                    <p class="mb-0 text-white text-center">Elaborado por Ivan Castañeda Contreras</p>
                </div>
            </footer>
        </div>
    </div>
    {% endblock %}
   