{% extends 'photos/base.html' %}
{% block content %}
<title>Foto</title>

    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <!-- CHECAR ESTO style="height: 90vh;" -->
                <div > 
                    <img class="mx-auto d-block mt-2" style="max-width: 100%; max-height: 100%;" src="{{foto.image.url}}"
                        alt="Foto">
                    <p style="text-align: justify;">{{foto.description}}</p>
                    <div class="row justify-content-center">
                        <div class="col-1">
                            <a href="{% url 'gallery' %}"
                                class="btn btn-dark btn-outline-light my-3 border-dark rounded-pill">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
